<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<!--<add key="PrinterName" value="Black Copper BC-85AC"/> --><!--Black Copper BC-85AC-->
		<add key="PrinterName" value="Black Copper BC-85AC"/><!--Black Copper BC-85AC-->
		<add key="LogFilePath" value="D:\\PrintingAppLog\\"/>
		<add key="ReportName" value="ReportFull"/>
	</appSettings>
  <connectionStrings>

     <!--SC-0728-->                           
    <!--<add name="Connection" connectionString="iyZ/7DwT+0Qzos037ib5i1GNejM3dqXSjBYblUX0Fzzr1j8TI1KUXdPV7x3/XSdW6UHNsZpksP7HdACWJbx7YAaqu2EOjo6fOuDvVv2v7zCg7bQRTb9GYLiiomX9Vi9nrsgeVvKD7uYLTnuFD3TxaMG8Fzj2/uK8PcpPgAkEf5U=" />-->

	  <!--CM_100_I-->
	  <add name="Connection" connectionString="tfy/eitK0weM8BWA40hxbw/YjbHaT0OQXlPy81CN+lKzZ7awMDSX5D/GCRnL6ijeSIwqr7rlhYCJByZ5GI1hFOHbHw13OMufK8r5xmVGWaoKiP9h0v8l8Qw417vYOhYZ" />

 
  </connectionStrings>
</configuration>